html{
  background: rgba(48, 0, 16, 0.89);
} /*targets the whole background color of the webpage*/

header,main, h2, p, ol, ul, li, h4, h6{
  text-align: center;
  color: rgb(233, 246, 253);
  letter-spacing: 1px;
  font-family: monospace;
  flex: 1%;
}/*changes the color, font, the position of the text and the 
 spacing of the text of the header, h2, p, ool, ul, & h4*/

.jae{
 width: 300px;
 border-radius: 50px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 flex: 1%;
}/*changes the size, position and the borders
 of the main picture of me*/

.web{
  width: 50px;
  float: right;
  margin-top: -25px;
  margin-left: 10px;
  flex: 1%;
}
.web:hover{
  opacity: 0.5;
}/*changes the position, size, and space around my
  github and linked-in accounts. also when you go and hover
  over it the opacity changes*/

nav, .end{
  padding: 30px;
  background-color: rgba(233, 247, 255, 0.616);
  border-radius: 20px;
  color: black;
  flex: 1%;
}/*this is the section that is highlighted at the top of the page, the solid border*/


h2{
  font-size: 40px;
}
h3, h4{
  font-size: 20px;
}
h1{
  font-size: 80px;
}/*adjust the sizes of the different heading fonts*/

hr{
  margin: 40px;
  height: 3px;
  background-color: rgba(233, 247, 255, 0.616);
  border-radius: 10px;
  flex: 1%;
}/*adjust the line strikes in between the paragraphs*/

li, p{
  list-style-position: inside;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  flex: 1%;
}/*keep the bullets and numbers close to the listed items*/

.mail:link{color: rgb(233, 246, 253);}
.mail:visited{color: thistle;}
.mail:hover{color: steelblue;}
.mail:active{color: midnightblue;}
/*gives the email link and different color depending
 on which action you choose*/

@media screen and (max-width: 800px){
  .web, .jae,{
    width: 100%;
